.wp-block-spacer {
	display: block;
	// Remove vertical margins
	margin-bottom: 0 !important;
	margin-top: 0 !important;

	@include media(mobile-only) {

		&[style] {
			height: var(--global--spacing-unit) !important;
		}
	}
}


.vertical-spacer{
	position: relative;
	gap: 6rem;
	> div{
		margin-left: 0 !important;
	}
	h3{
		margin-bottom: 0 !important;
	}
	&::before{
		content: '';
		height: 100%;
		width: 2px;
		background-color: var(--global--color-orange);
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		@include media(mobile-only){
			display: none;
		}
	}
}