.picto-text{
    img{
        height: 100px;
    }
    @include media(mobile-only){
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        .wp-block-column{
            .wp-block-image{
                max-width: 80px;
                margin: 0 auto;
            }
            p{
                font-size: 14px;
                margin: 0;
            }
        }
    }
}