// Do we need to serve a font? Add the @font-face styles here.

//CHANGE URL TO CHANGE FONT PATH
$theme_url : "/wp-content/themes/maras-billard/";

@font-face {
  font-family: Argesta;
  src: url($theme_url+"assets/argesta/argestatext-bold-webfont.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Argesta;
  src: url($theme_url+"assets/argesta/argestatext-regular-webfont.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}



:root {
    --font-headings : Argesta;
    --font-base : Verdana;
}

.wp-block-group__inner-container {
  text-align: center;
  i{
    font-size:var(--global--font-size-xxl);
  }
}
.blue{
  color:var(--global--color-blue);
}
.red{
  color:var(--global--color-red);
}
.green{
  color:var(--global--color-green);
}