.page-title {
	font-size: var(--global--font-size-page-title);
}

h1.page-title,
h2.page-title {
	font-weight: var(--heading--font-weight-page-title);
}

h1.page-title {
	line-height: var(--heading--line-height-h1);
}

.page-header {
	border-bottom: 3px solid var(--global--color-border);
	padding-bottom: calc(2 * var(--global--spacing-vertical));
}

* article{
	margin-bottom: calc(3 * var(--global--spacing-vertical)) ;
}

.archive,
.search,
.blog {

	.content-area {

		.format-aside,
		.format-status,
		.format-link { 

			.entry-content {
				font-size: var(--global--font-size-lg);
			}
		}

	}

	.format-image,
	.format-gallery,
	.format-video {

		.entry-content {
			margin-top: calc(2 * var(--global--spacing-vertical));
		}
	}

	.entry-footer {

		.cat-links,
		.tags-links {
			display: block;
		}
	}

	&.logged-in {

		.entry-footer {

			.posted-on {
				margin-right: calc(0.5 * var(--global--spacing-unit));
			}
		}
	}
}

.archive-description {
	margin-top: var(--global--spacing-vertical);
	font-size: var(--global--font-size-xl);
	line-height: var(--global--line-height-heading);
}

.blog-grid{
	z-index: 1;
	margin-top: -60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2.5rem;
	grid-row-gap: 4rem;
	@media screen and (max-width:$breakpoint_lg) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9,auto);
		margin-top: -130px;
	}

	article{
		text-align: center;
		box-shadow: 0px 0px 59px #00000015;
		background-color: var(--global--color-white);
		padding: 3rem;
		border-radius: 2rem;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width:$breakpoint_sm) {
			width: 90%;
		}
		div > p{
			
				text-align: left;
				line-height: 200%;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;		
		}
		a{
			cursor: pointer;
		}
	}
}
#nav-category{
	margin-top: 48px;
	@media screen and (max-width:$breakpoint_sm) {
		margin-top: initial;
	}
	ul{
		list-style: none !important;
		display: flex;
		justify-content: center;
		list-style: none;
		flex-wrap: wrap;
		@media screen and (max-width:$breakpoint_sm) {
			flex-direction: column;
			align-items: center;
		}
		li{
			padding: 0.15rem 0.75rem !important;
			border-radius: 0.5rem;
			margin: 0.5rem;
			box-shadow: 0px 0px 30px #00000029;
			a{
				text-decoration: none;
				h2{
					font-size: 15px;
					color: var(--global--color-white);
				}
			}
		}
	}
}
.blog-header{
	h1{
		font-size: 70px;

	}
}
@include media(mobile-only){
	.blog{
		#full-height{
			figure{
				img{
					max-width: 70%;
				}
			}
		}
	}
}

.blog-pagination{
	@media screen and (max-width:$breakpoint_sm) {
		display: flex;
		justify-content: space-between;
	}
}
