// Footer
.site-footer {
	padding: 1rem 0;
	background-color: var(--global--color-green);
	p{
		font-size: 18px;
		@include media(mobile-only){
			font-size: 16px;
		}
	}
	h3{
		font-size: 1.25rem;
	}
	.wp-block-column{
		margin-left: 2rem;
		margin-right: 2rem;
		&:nth-child(1){
			margin-left: 0rem;
		}
	}
	*:not(svg):not(.wp-block-social-link-anchor){
		font-family: var(--global--font-secondary) !important;
		margin-bottom: 1rem !important;
		margin-top: 0 !important;
	}
	ul#menu-secondary{
		list-style-type: none;
		li{
			a{
				text-decoration: none;
				font-size: 18px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	// Increase the top vertical spacing when there is no widget area.
	.no-widgets & {
		margin-top: calc(3 * var(--global--spacing-vertical));
	}

	@include media(mobile-only) {

		.no-widgets & {
			margin-top: calc(3 * var(--global--spacing-vertical));
		}
	}
}

// Footer Branding
.site-footer > .site-info {
	@extend %responsive-alignwide-width;
	padding-top: 0;
	padding-bottom: 0;
	margin:0 auto;
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	//border-top: 3px solid var(--global--color-border);

	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
		a{
			text-decoration: none;
		}
		.site-description{
			text-align: center;
			color:var(--global--color-green);
			font-size:var(--global--font-size-md);
		}
		.footer-navigation-social{
			list-style-type: none;
			display: inline-block;
			padding-left:0;
			width:100%;
			li{
				width:20%;
				text-align: center;
				display: inline-block;
				svg{
					height: 18px;
				}
			}
		}
	}

	.powered-by {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	@include media(desktop) {
		display: flex;
		align-items: flex-end;

		.powered-by {
			margin-top: initial;
			margin-left: auto;
		}
	}

	a {
		color: var(--footer--color-link);

		&:link,
		&:visited,
		&:active {
			color: var(--footer--color-link);
		}

		&:hover {
			color: var(--footer--color-link-hover);
		}

		&:focus {
			color: var(--footer--color-link-hover);

			.is-dark-theme & {
				color: var(--wp--style--color--link, var(--global--color-background));
			}

			// Change colors when the body background is white.
			.has-background-white & {
				color: var(--wp--style--color--link, var(--global--color-white));
			}
		}
	}
}
