
.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
	clear: both;

	.post-page-numbers {
		display: inline-block;
		margin-left: calc(0.66 * var(--global--spacing-unit));
		margin-right: calc(0.66 * var(--global--spacing-unit));
		min-width: 44px;
		min-height: 44px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.post-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	margin-top: 1rem;
	@include media(laptop-only){
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		@include media(mobile-only){
			grid-template-columns: 1fr;
			grid-gap: .5rem;
		}
	}
	article{
		.date{
			margin: 1rem 0;
			font-size: 18px;
			font-weight: 700;
		}
		header{
			margin: 0;
		}
		.entry-content{
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			p{
				a{
					display: block;
					text-decoration: none;
					margin-top: .5rem;
					font-weight: 700;
					text-decoration: underline;
					&:hover{
						color: #016367;
						text-decoration: underline dotted;
					}
				}
			}
		}
	}
}
.thumbnail{
	aspect-ratio: 1;
	max-width: 100%;
	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.wp-block-latest-posts{
	li{
		a{
			text-decoration: none;
			&.more-link{
				display: block;
			}
		}
		> a{
			color: var(--global--color-orange);
			font-size: var(--heading--font-size-h3);
			font-weight: bold;
			text-transform: uppercase;
		}
		> div{
			max-width: 600px;
			margin: 0 auto !important;
			font-size: var(--global--font-size-base) !important;
			@include media(mobile-only){
				font-size: 16px !important;
			}
		}
	}
}
/* .single-post{
	#page{
		#primary{
			margin-top: 150px;
			@include media(mobile-only){
				margin-top: 0;
			}
		}
	}
} */