/**
 * Button
 */

.site .button,
button,
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */
.wp-block-button {
	*{
		transition: background-color .4s, color .4s;
	}
	// Target the default and filled button states.
	&:not(.is-style-outline) {

		.wp-block-button__link:not(:hover):not(:active) {

			// Text colors
			&:not(.has-text-color) {
				color: var(--global--color-black);

				// Nested
				.has-background & {
					color: var(--global--color-green);

					&.has-background {
						color: var(--global--color-black);
					}
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: var(--global--color-green);

				// Nested
				.has-background & {
					background-color: var(--global--color-black);
				}
			}
		}

		// Hover Button color should match parent element foreground color
		.wp-block-button__link:hover,
		.wp-block-button__link:active {
			border-color: transparent;
			background-color: var(--global--color-black);
			color: var(--global--color-green);
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link:not(:hover):not(:active) {

			// Border colors
			&:not(.has-text-color),
			&:not(.has-background),
			&.has-background {
				border-color: var(--global--color-green);
			}

			// Text colors
			&:not(.has-text-color) {
				color: var(--global--color-green);

				// Nested
				.has-background & {
					color: var(--global--color-green);
				}
			}

			&.has-background {
				// Nested
				.has-background &:not(.has-text-color) {
					color: var(--global--color-green);
				}
			}

			// Background-colors
			&:not(.has-background) {
				background-color: var(--global--color-black);
			}
		}

		.wp-block-button__link:hover,
		.wp-block-button__link:active {

			border-color: var(--global--color-black);
			background-color: var(--global--color-green);
			color: var(--global--color-black);

			.has-background & {
				background-color: var(--local--color-primary, var(--global--color-primary)) !important;
				color: var(--local--color-background, var(--global--color-background)) !important;
			}

			.has-text-color & {
				color: var(--local--color-background, var(--global--color-background)) !important;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}

.wp-block-button{
	.wp-block-button__link{
		&:hover{
			color: var(--global--color-white) !important;
			background-color: #016367 !important;
		}
	}
}