.col-team-1{
    figure{
        &::after{
            content: 'David BILLARD \A Avocat Associé';
        }
    }
}
.col-team-2{
    @include media(mobile-only){
        margin-left: 0 !important;
    }
    figure{
        &::after{
            content: 'Véronique MARAS \A Avocate Associée';
        }
    }
}
.col-team-3{
    figure{
        &::after{
            content: 'Paul GASCHARD \A Avocat Collaborateur';
        }
    }
}
.col-team-1,.col-team-2,.col-team-3{
    @include media(mobile-only){
        padding:0 2rem;
    }
    a:active,a:focus{
        figure::after{
            background: #016367 !important;
        }
    }
    figure{
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
        }
        &::after{
            padding: 1rem 0;
            white-space: pre;
            color: var(--global--color-cream);
            font-family: Verdana, 'Trebuchet MS', Arial, sans-serif;
            font-size: 27px;
            @media screen and (max-width:1200px) {
                font-size: 20px;
            }
            @include media(mobile-only){
                transform: translate(0);
                font-size: 16px;
            }
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: var(--global--color-green);
            transform: translateY(101%);
            transition: ease all .3s;
            pointer-events: none;
        }
        &:hover{
            &::after{
                transform: translate(0);
            }
        }
    }
}