/* Over here, place any elements that do not need to have their own file. */
b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

pre {
	white-space: pre;
	overflow-x: auto;
}

.hide{
	@include media(mobile-only){
		display: none !important;
	}
}
.cover-text{
	p{
		font-size: 24px !important;
		@include media(mobile-only){
			font-size: 18px !important;
		}
	}
	
}
#david,#veronique,#paul{
	> figure{
		@include media(mobile-only){
			margin-bottom: 1.5rem;
		}
	}
	.wp-block-media-text__content{
		> div:nth-last-child(1){
			@include media(mobile-only){
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				> div{
					flex-basis: fit-content !important;
					margin-bottom: 0;
				}

			}
		}
	}
}

#accueil{
	@include media(mobile-only){
		display: flex !important;
		flex-direction: column;
		> div:nth-child(1){
			order: 2;
		}
		> div:nth-child(2){
			order: 1;
			margin-bottom: 2rem;
		}
	}
}